.about-me-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 2rem 2rem;
    gap: 14rem;
    flex-wrap: wrap;
    border: 2px solid #f0e68c;
    background-color: lemonchiffon;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


.about-me-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about-me-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-me-text h1,
.about-me-text h2 {
    font-size: 1.8rem;
    color: #333;
}

.about-me-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}